html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(155, 155, 155);
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

canvas {
    /* cursor: none; */
}

button {
    min-width: 200px;
    min-height: 50px;
    padding: 5px;
}

.display_area {
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    color: rgb(43, 43, 43);
    /* width: 800px; */
    padding: 20px;
}

#canvas {
    width: 100vw;
    height: 99vh;
    top: 0px;
    left: 0px;
}